#in-progress {
  @include prdb;
  @include box-sizing;

  padding-left: 5%;
  padding-right: 5%;

  #in-progress-items {
    @include prdb;

    width: 100%;
    height: auto;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;

    .project-table__label {
      color: $orange;
      padding-right: 30px;
      vertical-align: top;
      width: 200px;
      box-sizing: border-box;
    }

    .project-item {
      display: flex;
      position: relative;
      width: 100%;
      margin-bottom: 2rem;

      .project-item-container{
        display: flex;
        width: 100%;
      }

      .item-image,.item-content {
        flex: 1 0 auto;
        width: 50%;
        box-sizing: border-box;
      }

      .item-image{
        background-color:#66686a;
      }

      &:first-of-type{
        .item-content {
          border-top: 2px solid #9e9d9b;
        }
      }

      .item-content {
        @include prdb;
        padding: 20px;
        height: 100%;
        text-decoration: none;
        color: $dark_grey;
        border-bottom: 2px solid #9e9d9b;

        &:hover,
        &:active,
        &:visited {
          text-decoration: none;
          color: $dark_grey;
        }

        .copy {
          @include prdb;
          @include box-sizing;

          padding: 15px;
          width: 100%;
          max-width: 530px;
          height: auto;

          h3,
          p {
            margin: 0;
          }

          .title {
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: $orange;
          }

          .location {
            font-style: italic;
            font-size: .9rem;
            margin: 1rem auto;
          }

          .trunc-copy {
            margin-top: .5rem;
          }

          table{width:100%;}
        }
      }
    }
  }

  .panel {
    @include prdb;

    width: 100%;
  }

  .panel__left--grey {
    @include dn;
  }
}

// MOBILE
@media all and (max-width: 767px) {
  #in-progress {
    #in-progress-items {
      .project-item {

        .item-content {
          @include prdb;

          height: auto;
        }
      }
    }
  }
}

// DESKTOP
@media all and (min-width: 992px) {
  #in-progress {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: auto;

    .panel__left--grey {
      @include pfdb;

      top: 0;
      left: 0;
      height: 100%;
      width: 40%;
      background: $dark_grey;
    }

    .panel__logo {
      @include padb;

      bottom: 100px;
      width: 230px;
      right: 25px;
      height: auto;
    }

    .panel__right {
      @include prdb;
      @include box-sizing;

      width: 60%;
      margin-left: 40%;
      padding: 0 50px;
    }

    .page-header:not(.page-header--empty) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    #in-progress-items {

      width: 100%;
      margin-bottom: 100px;

      .project-item {

        margin: 0;

        .keyline {
          width: 100%;
          margin: 3rem 0;
        }

        .item-content {
          @include prdb;

          height: auto;
          overflow: hidden;

          .copy {
            @include prdb;
            @include box-sizing;

            padding: 0;
            background-color: transparent;
            margin: 0;

            .copy-item {
              margin: 1rem auto;
            }

            h3,
            p {
              margin: 0;
              color: $dark_grey;
            }

            .title {
              font-size: 1rem;
              text-transform: uppercase;
              margin-bottom: 5px;
            }

            .location {
              font-style: italic;
              font-size: 1rem;
            }

            .full-copy {
              @include db;

              margin-top: .5rem;
            }

            &.trunc-copy {
              @include dn;
            }
          }
        }
      }
    }
  }
}
