body.page,
body.archive{
  &.home,
  &.page-template-template-our-approach,
  &.post-type-archive-portfolio{
    min-height: calc(100% - 70px);
    height: calc(100% - 70px);
    overflow: hidden;
  }
}

.page {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
  margin: 0;

  &.padded-sides {
    padding-left: 5%;
    padding-right: 5%;
  }

  h1{
    margin: 20px auto;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #66686a;
  }

  .keyline {
    position: relative;
    display: block;
    height: 2px;
    width: 70%;
    margin: 40px auto;
    background-color: #9e9d9b;
  }
}

@media all and (min-width: 992px) {
  .page {
    box-sizing: border-box;
    padding-bottom: 0;
    margin: auto;

    &.padded-top {
      padding: 50px 0;
    }

    h1 {
      margin: 40px auto;
    }

    p {
      font-size: 1rem;
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
    }

    .keyline {
      margin: 80px auto;
      width: 70%;
    }
  }
}
